body {
	font-family: 'Microsoft YaHei', Arial, 'Courier New';
	line-height: 1.5em;
	color: #7F7F7F;
}

a {
	text-decoration: none;
}

h2, h3, h4 {
	margin: 18px 0 18px 20px;
	font-weight: bold;
	font-size: 18px;
}

h2 {
	color: bule;
}

h3 {
	color: red;
}

h4 {
	color: green;
}


#container {
	width: 850px;
	margin: auto;
	padding-top: 20px;
}

#breed_console {
	width: 100%;
	text-align: center;
	color: #348AF3;
	font-weight: bold;
	font-size: 36px;
	padding-bottom: 30px;
}

#nav {
	float: left;
	width: 190px;
	border: 1px solid;
	border-color: #66ffcc;
}

#nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav ul li a, a:visited {
	padding: 10px;
	width: 170px;
	display: block;
	background-color: transparent;
	color: #7F7F7F;
	text-align: center;
}

#nav ul li a:hover {
	background-color: #F5F5F5;
	color: #348AF3;
	font-weight: normal;
	text-align: center;
}

#page {
	float: right;
	width: 645px;
}

#info {
	width: 100%;
	border: 1px solid;
	border-color: #66ffcc;
	height: 170px;
	background-color: #FFF8F7;
}

#info_content {
	width: 100%;
	height: 50px;
	color: black;
	margin: 10px 40px 0 40px;
}

#ret {
	margin: 15px 0px 10px 20px;
}

#fw_type {
	width: 100%;
	border: 1px solid;
	border-color: #66ffcc;
}

#fw_type ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#fw_type li {
	float: left;
	display: inline;
	width: 50%;
}

#fw_type ul a {
	padding: 5px 0 5px 0;
	width: 100%;
	display: block;
	text-align: center;
}

#fw_files {
	margin-top: 20px;
	width: 100%;
}

#fw_files .th {
	width: 150px;
}

#fw_options {
	margin-top: 20px;
}

#fw_files_fullflash, #fw_skipboot, #fw_skipeeprom, #fw_skipart {
	display: none;
}

#freqs .th {
	width: 40px;
}

#freq_notice {
	margin-bottom: 20px;
	color: black;
}

#about {
	margin-top: 20px;
	color: black;
	text-align: center;
}

#ddr2_config .th {
    width: 150px;
}

#upgrade_list {
	margin: 10px 40px 20px 40px;
}

#upgrade_confirm {
	width: 100%;
	border: 1px solid;
	border-color: #66ffcc;
	background-color: #DFF;
}

#confirm_boot, #confirm_fw, #confirm_art, #confirm_bc, #confirm_eeprom, #confirm_fullflash {
	color: #396;
	width: 100%;
	padding: 10px 0 10px 0;
	display: none;
}

#fw_info .th {
	width: 150px;
}

#progress_container {
	margin: 20px 0 20px 0;
	height: 30px;
	position: relative;
	vertical-align: middle;
	margin: auto;
	border: 1px solid;
	border-color: #66ffcc;
}

#progress_bar, #progress_prompt {
	top: 0px;
	left: 0px;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
}

#progress_bar {
	width: 0;
	background-color: #348AF3;
}

#progress_prompt {
	width: 100%;
	text-align: center;
	font-weight: bold;
	line-height: 32px;
}

#progress_desc {
	width: 100%;
	font-weight: bold;
	line-height: 32px;
	height: 32px;
    color: #000;
}

#netgear_table .th {
	width: 150px;
}

#field_add {
	display: block;
	margin: auto;
}

#nvram_result {
	display: none;
}

.clearfloat {
	clear: both;
}

.operate_success {
	margin-bottom: 10px;
	font-weight: bold;
	color: green;
	display: none;
}

.current_nav {
	background-color: #348AF3;
	color: white;
	font-weight: bold;
	padding: 10px 10px 10px 10px;
	text-align: center;
}

.system_info, .file_info {
	border: none;
	width: 100%;
	border-collapse: collapse;
}

.system_info tr:hover, .file_info tr:hover {
	background-color: #F2F1F0;
}

.file_info {
	margin: 15px 0 15px 0;
}

.file_info .th {
	color: gray;
}

.system_info td, .file_info td{
	border-top: 1px solid;
	border-color: #66ffcc;
	padding-left: 10px;
}

.g {
	background-color: #F4F3F2;
}

.th, .fw_type {
	border-right: 1px solid;
	border-color: #66ffcc;
	font-weight: bold;
	padding-left: 10px;
}

.thr {
	border-color: #66ffcc;
	font-weight: bold;
	padding-left: 10px;
	width: 100px;
}

.th {
	width: 100px;
}

.tf {
	border-right: 1px solid;
	border-color: #66ffcc;
}

.ed {
	border-bottom: 1px solid;
	border-color: #66ffcc;
}

.fw_type {
	width: 150px;
}

.fw_type_clicked {
	background-color: #348AF3;
	color: white;
	font-weight: bold;
}

.fw_type_unclicked:hover {
	background-color: #F5F5F5;
	color: #348AF3;
	cursor: pointer;
}

.fw_upload {
	width: 100%;
}

.flash_layout {
	font-size: 10px;
	font-weight: normal;
}

.operate {
	margin-top: 20px;
}

.freq {
	font-weight: bold;
	width: 55px;
}

.freq_item {
	cursor: pointer;
}

.freq_cur {
	background-color: #348AF3 !important;
	color: white;
}

.rafreq {
	width: 200px;
}

.mac_field {
	text-align: center;
}

.command {
	color: blue;
}

.prompt {
	color: black;
}

.upgrade_file_list {
	width: 100%;
}

.fw_name {
	width: 200px;
	border-right: 1px solid;
	border-color: #66ffcc;
}

.nvram_name {
	width: 30%;
	padding-right: 5px;
	font-weight: bold;
}

.nvram_value {
	font-weight: bold;
}

.nvram_del {
	width: 10%;
}

.mac_rf {
	font-weight: bold;
	color: black;
}
